.blinking-cursor::after {
  content: "|";
  color: rgb(var(--foreground-rgb));
  font-weight: 400;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
